h1,h2{
    font-size: 30px;
    text-align: center;
    color: white;
    background-color:yellow;
    font-family: "Palatino Linotype",sans-serif;
    margin: 2px;
    line-height: 1.5;
    
    
}